{
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    ["transform-async-to-generator"]
  ],
  "presets": [
    [
      "env",
      {
        "exclude": ["transform-regenerator"],
        "targets": {
          "node": "6"
        },
        "useBuiltIns": true,
        "debug": true
      }
    ]
  ]
}
