{
  "plugins": [
    [
      "@babel/plugin-proposal-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    [
      "@babel/plugin-transform-async-to-generator",
      null
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": [
          "transform-regenerator"
        ],
        "targets": {
          "node": "6"
        },
        "useBuiltIns": true,
        "debug": true
      }
    ]
  ]
}
